Query examples:-

What is the total revenue?
What is the Net Income?
What is the sum of total assets?
What is the sum of total liabilities?
What is the revenue growth(%) ?
What is the net income growth(%) ?
What is the year by year average revenue growth rate(%)?
What is the year by year average net income growth rate(%)?
What is the year by year average assets growth rate(%)?
What is the year by year average liabilities growth rate(%)?

In [1]:
import pandas as pd
data = pd.read_csv('final_data_report.csv')
data_2 = pd.read_csv('Summary_final_report.csv')

In [2]:
data

,Unnamed: 0,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Revenue Growth (%),Net Income Growth (%)
0,0,Microsoft,2022,198270.0,72738.0,364840.0,198298.0,0.000000,0.000000
1,1,Microsoft,2023,211915.0,72361.0,411976.0,205753.0,6.882030,-0.518299
2,2,Microsoft,2024,245122.0,88136.0,512163.0,243686.0,15.669962,21.800417
3,3,Tesla,2022,53823.0,5644.0,62131.0,30548.0,0.000000,0.000000
4,4,Tesla,2023,81462.0,12587.0,82338.0,36440.0,51.351653,123.015592
5,5,Tesla,2024,96773.0,14974.0,106618.0,43009.0,18.795267,18.964010
6,6,Apple,2022,394328.0,99803.0,352755.0,302083.0,0.000000,0.000000
7,7,Apple,2023,383285.0,96995.0,352583.0,290437.0,-2.800461,-2.813543
8,8,Apple,2024,391035.0,93736.0,364980.0,308030.0,2.021994,-3.359967

In [3]:
print("Year by Year Average Growth from 2021 to 2023")
data_2

Year by Year Average Growth from 2021 to 2023

,Unnamed: 0,Company,Revenue Growth Over Period (%),Net Income Growth Over Period (%)
0,0,Apple,-0.835092,-6.078976
1,1,Microsoft,23.630403,21.169128
2,2,Tesla,79.798599,165.308292

In [4]:
%run AI_driven_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  exit

In [5]:
print('hello')

hello

In [6]:
%run AI_driven_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

Enter company name :  apple

The data for the fiscal year 2024, 2023, and 2022 is currently available

The fiscal year for the selected company :  2024

Please enter your query

 What is the cash flow from operations growth(%) ? What is the year by year average revenue growth rate(%)?

Sorry, I cannot only provide information on the requested query.
----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  What is the year by year average revenue growth rate(%)?

Enter 'Hi' Properly!!!!! by starting the chatbot session again